!!! 5
%html
  %body
    .main_body
      =image_tag('1.jpg', :class => 'image')
      %h3  Уважаемые родители и педагоги!
      %pДорогие ребята!
      Наступает осенняя пора. Остались позади беззаботные летние каникулы, во время которых вы успели, как следует отдохнуть и набраться сил перед новым учебным годом.
      Именно после каникул вам как никогда потребуется сосредоточенность на дорогах: кто-то отвык от интенсивности дорожного движения, а кто-то будет делать первые самостоятельные шаги по пути в школу.
      Учебный процесс – это увлекательный, насыщенный и ответственный период в жизни каждого человека. И чтобы он стал незабываемым и комфортным, необходимо помнить о простых правилах безопасного поведения на дорогах.
      Самое главное – это внимательность и осторожность.
      Помните, переходить проезжую часть дороги следует по пешеходным переходам, не торопясь и предварительно убедившись в своей безопасности, не отвлекаясь на разговоры по мобильному телефону, слушание музыки и общение с друзьями и попутчиками.
      Чтобы в темное время суток водители смогли вовремя вас увидеть и остановиться, не забудьте прикрепить на одежду и школьные рюкзаки световозвращающие элементы, которые не только добавят красок в ваш образ, но и сделают вас заметными на дорогах.
      Следуя с родителями в автомобиле, напомните им, что перевозить детей до 12-летнего возраста необходимо в детских удерживающих устройствах, а после 12 лет – с использованием ремней безопасности.
      Неукоснительное соблюдение этих простых правил поможет сохранить вашу жизнь и здоровье.
      Несколько слов хотелось бы сказать и взрослым – родителям и педагогам.
      О правилах безопасного поведения на дорогах следует постоянно говорить с детьми, а в начале нового учебного года это особенно актуально. Ребята после лета заново привыкают к рабочему ритму и в этот период адаптации могут быть рассеянны и невнимательны.
      Культура поведения на дорогах, в первую очередь, формируется в семье. Самыми первыми и авторитетными учителями для детей являются родители. Поэтому прежде чем ваш ребенок пойдет в образовательную организацию, объясните или напомните ему основы безопасного поведения в транспортной среде. Помогите ребенку составить безопасные маршруты движения от дома до школы, стадиона, спортивной секции, музыкальной школы и других организаций. И при этом, проходя с ним по маршрутам, обратите его внимание на опасные участки дороги, правила перехода проезжей части, строгое соблюдение требований сигналов светофора.
      Уважаемые педагоги! Ежедневно, на последнем уроке или перед выходом из школы, напоминайте детям о повышенном внимании и осторожности на дорогах. Активней участвуйте в проведении мероприятий, направленных на профилактику детского дорожно-транспортного травматизма. Не оставайтесь равнодушными к безопасности нашего подрастающего поколения.
      Следуя с ребенком в автомобиле, соблюдайте правила перевозки детей. При организованных перевозках детей автобусами, например на различные мероприятия или экскурсии, обращайте пристальное внимание на документы автоперевозчиков, а также состояние предоставляемых транспортных средств. Повторяйте с детьми правила безопасного поведения в салоне транспортного средства, а также посадки и высадки из него.
      Дорогие дети, родители и педагоги! Сейчас всероссийская газета «Добрая Дорога Детства» проводит детскую эстафету безопасности «Дорога – символ Жизни». Присоединяйтесь к этой акции. Помогите гражданам нашей страны задуматься над тем, как каждый из нас может повлиять на дорожную безопасность!
      Дорогие друзья! Я от всей души поздравляю всех вас с Днем знаний и началом нового учебного года! Пусть этот год станет для вас интересным, насыщенным событиями, полным новых побед и свершений и, конечно, безопасным!
      Помните: Правила дорожного движения – это правила жизни, которые соблюдать надо всегда!
      %p Главный государственный инспектор   безопасности дорожного движения        Российской Федерации        В.И. Нилов
